<footer id="footer">
  <i class="social-icon fab fa-facebook-f"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>

  <p>© Copyright 2019 Fuse.</p>

</footer>
<div id="content-wrap">
     <!-- all other page content -->
   </div>


 </div>

</body>

</html>
