<section class="title" >
  <div class="container-fluid">

<nav class="navbar navbar-expand-md navbar-light">
<a class="navbar-brand" href="">FUSE.</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo01">

  <ul class="navbar-nav ml-auto">
    <li class="dropdown nav-item">

        <a class="dropdown-toggle btn navbar-btn btn-light btn-md" data-toggle="dropdown" href="#">Me
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/me">About Me</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </li>

    <li class="nav-item">
      <a class="btn navbar-btn btn-light btn-md" href="/compose" role="button">I have an idea.</a>

    </li>
    <li class="nav-item">
      <a class="btn navbar-btn btn-light btn-md" href="/ideas" role="button">I'm Looking for Ideas.</a>

    </li>
    <li class="nav-item">
      <a class="btn navbar-btn btn-light btn-md" href="/people" role="button">I'm Looking for people.</a>

    </li>

  </ul>
</div>
</nav>

</div>
</section>
