<%- include('partials/header'); -%>

    <section class="title" >
      <div class="container-fluid">

      <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="">FUSE.</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn navbar-btn btn-light btn-md" href="/register" role="button">Register</a>

          </li>
          <li class="nav-item">
            <a class="btn navbar-btn btn-light btn-md" href="/login" role="button">Login</a>

          </li>

        </ul>
      </div>
    </nav>



    <!-- real  -->
    <div class="row">
      <div class="col-lg-9">
        <h2>Every successful business started with a single idea.</h2>
        <a class="btn btn-dark btn-md" href="/compose" role="button">I have an idea.</a>
      </div>


      <div class="col-lg-3">
      <div class="home-buttons">
        <a class="idea-buttons text-lg-left btn btn-dark btn-md" href="/ideas" role="button">I'm looking for an idea. </a>
        <a class="idea-buttons text-lg-left btn btn-dark btn-md" href="/people" role="button">I'm looking for people.</a>

      </div>
    </div>

  </div>

</div>
</section>

<%- include('partials/footer'); -%>
